agno
anthropic
duckduckgo-search
exa_py
fastapi[standard]
google-genai
groq
nest_asyncio
openai
pandas
pgvector
psycopg[binary]
pypdf
python-docx
simplejson
sqlalchemy
streamlit
uvicorn
yfinance
youtube-transcript-api
elevenlabs